
.playerInput{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 140%;
  flex-direction: column;
}
body{
  background-image: url(./Images/simone-hutsch-jbyLu_fh5fY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-right: 70%;
  flex-direction: column;
}
.home h1{
  color:firebrick;
  font-family: 'Akronim', cursive;
font-family: 'Birthstone', cursive;
font-family: 'Staatliches', cursive;
  font-size: 50px;
  font-weight: bolder;
  font-style: oblique;
  
}
.home h4{
  color:rgb(0, 0, 0);
  font-family:'Courier New', Courier, monospace;
  font-size: 35px;
  padding: 5%;
  margin-bottom: 10%;
}
.home p {
  font-size: 23px;
  font-family: 'Akronim', cursive;
font-family: 'Birthstone', cursive;
font-family: 'Staatliches', cursive;
}
